{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 *
 * @see template_preprocess_select()
 */
#}
{%
  set classes = [
  customtype == 'standard' ? 'form-control',
  customtype == 'custom' ? 'custom-select-material',
]
%}
{#{{ kint(materials) }}#}
{% spaceless %}
  <select{{ attributes.addClass(classes) }}>
    {% for key, material in materials %}

{#      {{ (material.value) }}#}

        <option value="{{ material.value }}" style="background-image:url('{{ material.material_img }}')" {{ material.selected ? ' selected="selected"' }}>{{ option.label }}</option>
<span class="sep"></span>
    {% endfor %}
  </select>
{% endspaceless %}
