{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 *
 * @see template_preprocess_select()
 */
#}
{%
  set classes = [
  customtype == 'standard' ? 'form-control',
  customtype == 'custom' ? 'custom-colors-select',
]
%}
{#{{ kint(colors) }}#}

<select{{ attributes.addClass(classes) }}>
  {% for key, color in colors %}
    <option class="option" title="{{ color.label }}" value="{{ color.value }}" style="background-color:{{ color.0 }}" {{ color.selected ? ' selected="selected"' }}></option>
  {% endfor %}
</select>

