{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
  This ensures that, if clean URLs are off, the 'q' is added first,
  as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}


{# Mobile Version #}
<span class="nav__open_mobile" onclick="openNav()">
  <i class="fa fa-filter" aria-hidden="true"></i>
      {{ "Filter"|t }}
</span>

<nav class="navbar-light navbar-expand-lg bg-light sidenav" id="mySidenav">
  {# <a href="#my-page">Close the menu</a> #}
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <ul class="mobile-nav">
    {# Categories #}
    <li class="inset"><h2>Categories</h2></li>
    <li> {{ form.categories }}   </li>
    {# Materials #}
    <li class="inset"><h2>Materials</h2></li>
    <li> {{ form.material }} </li>
    {# colors #}
    <li class="inset selected"><h2>Colors</h2></li>
    <li class="selected"> {{ form.colors }} </li>
    {# tags #}
    <li class="inset selected"><h2>Mot-clés</h2>
    <li>
    <li class="selected"> {{ form.tags }} </li>
    {# Price #}
    <li class="inset"><h2>Price</h2></li>
    <li class="selected"> {{ form.price__number }} </li>
  </ul>
</nav>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>
{# END Mobile Version #}


<nav class=" navbar-light navbar-expand-lg bg-light">
  <div class="collapse navbar-collapse" id="navbarResponsive" style="color: rgb(0,0,0);">
    <ul class=" navbar-nav product_filters">

      <li class="nav-item dropdown categories_dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Categories</a>
        <ul class="dropdown-menu p-0">
          {{ form.categories }}
        </ul>
      </li>

      <li class="nav-item dropdown material_dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Materials</a>
        <ul class="dropdown-menu">
          {{ form.material }}
        </ul>
      </li>

      <li class="nav-item dropdown color_dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Colors</a>
        <ul class="dropdown-menu">
          {{ form.colors }}
        </ul>
      </li>

      <li class="nav-item dropdown tags_dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Mot-clés</a>
        <ul class="dropdown-menu">
          {{ form.tags }}
        </ul>
      </li>

      <li class="nav-item dropdown price_dropdown show">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Price</a>
        <ul class="dropdown-menu p-4">
          {{ form.price__number }}
        </ul>
      </li>

      <li class="nav-item dropdown sort_dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          <i class="fa fa-filter" aria-hidden="true"></i> &nbsp;
          Sort: $$$ - $ &nbsp;&nbsp;
        </a>
        <ul class="dropdown-menu dropdown-menu-right p-4">
          {{ form.sort_bef_combine }}
        </ul>
      </li>
    </ul>
  </div>

</nav>

<div class="form-group text-center mt-4">
  <button class="btn btn-primary form-filter-submit" type="submit">
    <span>{{ ('Filtrer')|t }}</span>
  </button>
</div>
{{ form.form_build_id }}
  {{ form.form_id }}
  {{ form.form_token }}

