{#{% else %}#}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix', 'title',
]
%}


  <article{{ attributes.addClass(classes) }}>
    {#  <header>  </header>#}
    <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
      {{ content.field_image.0 }}
{#      {{ content|without('field_subtitle','field_header_image') }}#}
      <!-- {{ content.field_category.0 }} -->
    </div>
{#    {% if label and not page %}#}
      <h2{{ title_attributes.addClass('node__title') }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
{#    {% endif %}#}
    <span class="text-justify">
      {{ content.body.0 }}
    </span>
  </article>
{#{% endif %}#}
