{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}

{#  {{ kint(exposed) }}#}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-3">
      {% if exposed %}
        <div class="view-filters">
          {{ exposed }}
        </div>
      {% endif %}

    </div>

    <div class="col-9">
      {% if header %}
        <div class="view-header">
          <div class="store-count">
            {{ header }}
          </div>
          <div class="store-sort">
            {{ exposed.sort_bef_combine }}
{#             <div class="title">#}
{#               &nbsp;&nbsp; sort by#}
{#             </div>#}
{#            {{ exposed.sort_by }}#}
{#            <div class="title">#}
{#              &nbsp;&nbsp; Order#}
{#            </div>#}
{#            {{ exposed.sort_order }}#}
          </div>
        </div>
      {% endif %}

      {% if rows %}
        {% for rows_line in rows %}
          <div class=""> {#   field-spacing container   #}
            {% if (rows_line['#title']) %}
              <div class="field__label font-weight-bold section__title h2">{{ rows_line['#title'] }}</div>
            {% endif %}
            <div class="row row-spacing">

              {% for row in rows_line['#rows'] %}

                <div class="col-md-4 col-12 thumbnail__col mb-4">
                  {{ row }}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% elseif empty %}
        <div class="view__empty">
          {{ empty }}
        </div>
      {% else %}
        <div class="view__empty center-lg row-spacing p-5">
          <p class="big">
            -
          </p>
        </div>
      {% endif %}
    </div>
  </div>


  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
