
/*/////////////////////////////   SIDENAV     ///////////////////////////////////////////////////////*/
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*#main {*/
/*  transition: margin-left .5s;*/
/*  padding: 20px;*/
/*}*/

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*////////////////////////////    END SIDENAV  ////////////////////////////////////////////////////////*/


@media (min-width: 992px){
  .dropdown-menu .dropdown-toggle:after{
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
  }
  .dropdown-menu .dropdown-menu{
    margin-left:0; margin-right: 0;
  }
  .dropdown-menu li{
    position: relative;
  }
  .nav-item .submenu{
    display: none;
    position: absolute;
    left:100%; top:-7px;
  }
  .nav-item .submenu-left{
    right:100%; left:auto;
  }
  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
}
.product_filters .dropdown-menu {
  transform: translate3d(0, 38px, 0px) !important;
}
.product_filters > li {
  font-size: 15px;
  margin: 10px 10px 10px 0;
  background-color: #000;
  color: #fff;
  padding: 0px 31px;
}


.product_filters > li a{
  color: #fff !important;
}

.product_filters .sort_dropdown{
  background-color: #fff !important;
  color: #000 !important;
 border-color: transparent;
 border-top: 0;
 border-right: 0;
 border-left: 0;


}
.product_filters .sort_dropdown a{
background-color: #fff !important;
color: #000 !important;
border: 1px solid;
}
.sort_dropdown .fa-filter{
color: #000;
}
.sort_dropdown a::after{
color: #000 !important;
}
.categories_dropdown.show,
.material_dropdown.show,
.color_dropdown.show,
.tags_dropdown.show,
.price_dropdown.show
{
border-color: #7e8383;
border-top: 1px solid #7e8383;
border-right: 1px solid #7e8383;
border-left: 1px solid #7e8383;
}

.categories_dropdown > ul{
border: 1px solid #aabcbc;
padding: 0 10px 7px 8px !important;
margin-top: -2px;
overflow-y: scroll;
height: auto;
}

.categories_dropdown ul li{
white-space: nowrap;
}
.tags_dropdown > ul {
width: 240px;
padding: 25px 14px;
}
.price_dropdown.show > ul {
width: 240px;
padding: 4px 11px;
}
.price_dropdown.show > ul > input {
border: 0;
}
.sort-form label{
display: none;
}
#collapseExample6{
position: absolute;
float: right;
right: 15px;
}
.navbar-brand{
  /*display: none;*/
}
.nav__open_mobile{
display: none;
padding: 7px 20px;
background-color: #000;
color: #fff;
font-size: 17px;
font-weight: 800;
width: fit-content;

}



@media (max-width: 991px) {
.nav__open_mobile{
display: block !important;
}
.mobile-nav li{
padding-bottom: 20px;
}
.custom-colors-select, .custom-select-material{
background-color: #f8f9fa;

}

}
