.loader {
  position: fixed;top: 0;left: 0;height: 100%;width: 100%;background-color: #2125292e ;z-index: 9999; }
.loader .loader-inner {
  -webkit-animation: animate 1.5s linear infinite;animation: animate 1.5s linear infinite;clip: rect(0, 80px, 80px, 40px);height: 80px;width: 80px;position: absolute;left: calc(50% - 40px);top: calc(50% - 40px);z-index: 100;}
.loader .loader-inner::after {-webkit-animation: animate2 1.5s ease-in-out infinite;animation: animate2 1.5s ease-in-out infinite;clip: rect(0, 80px, 80px, 40px);content: "";border-radius: 50%;height: 80px;width: 80px;position: absolute;}
@-webkit-keyframes animate {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg)}
  to {-webkit-transform: rotate(220deg);transform: rotate(220deg)}
}
@keyframes animate {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg)}
  to {-webkit-transform: rotate(220deg);transform: rotate(220deg)}
}
@-webkit-keyframes animate2 {
  0% {box-shadow: inset 0 0 0 2px #8b1b59;-webkit-transform: rotate(-140deg);transform: rotate(-140deg)}
  50% {box-shadow: inset 0 0 0 2px #8b1b59}
  to {box-shadow: inset 0 0 0 2px #8b1b59;-webkit-transform: rotate(140deg);transform: rotate(140deg)}
}
@keyframes animate2 {
  0% {box-shadow: inset 0 0 0 2px #8b1b59;-webkit-transform: rotate(-140deg);transform: rotate(-140deg)}
  50% {box-shadow: inset 0 0 0 2px #8b1b59}
  to {box-shadow: inset 0 0 0 2px #8b1b59;-webkit-transform: rotate(140deg);transform: rotate(140deg);}
}
