

/* GENERAL */

h2 {
  margin:0px;
}

.node__content {
  margin-top:0px;
}

p {
  /*letter-spacing: 1.2px;*/
    padding: 15px 0px;
    /*line-height: 2.1;*/
}

.breadcrumb {
  /*font-size: 0.929em;*/
  background-color: transparent;
  padding-left: 0;
}

/*h1.title {*/
/*  text-align: center;*/
/*  text-transform: uppercase;*/
/*  font-weight: bold;*/
/*  font-size: 70px;*/
/*  margin-bottom: 50px;*/
/*}*/

.section-title {
  text-transform: uppercase;
  color: #121212;
  font-weight: 700;
  text-align: left;
  font-size: 41px;
  padding-bottom: 20px;
  padding-top: 0px;
}

.paragraph .field--name-field-title {
  text-transform: uppercase;
  color: #121212;
  font-weight: 700;
  text-align: left;
  font-size: 41px;
}

.section-header {
  margin-bottom: 20px;
}

.block-page-title-block {
  margin: auto;
}

.node .field--type-image {
    margin: 0;
}

 .node.node--view-mode-teaser .field--type-image {
    float: none;
}

.field--name-field-header-image img {
  width: 100%;
  height: auto;
  display:block;
}

.field--name-body  {
  /*padding: 50px 0px;*/
  max-width: 1020px;
  margin: auto;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
}

.field--name-webform {
  max-width: 920px;
  margin: auto;
}

.field--name-webform #edit-actions,
.user-form #edit-actions,
.user-login-form #edit-actions,
.user-pass #edit-actions {
  text-align: center;
  padding-top: 15px;
 }

 .feed-icons {
  display: none;
 }




/* LAYOUT */
#main-wrapper #main {
  padding-left: 60px;
  padding-right: 60px;
}

#main {
  max-width: 1600px;
  margin:auto;
}

.site-footer .footer-container {
  padding-top: 30px;
  max-width: 1600px;
  padding-left: 60px;
  padding-right: 60px;
  margin: auto;
}

.site-footer {
  margin-top: 100px;
  border-top: 3px solid;
  border-color: #e6e6e6;
  padding: 35px 0 60px!important;
}

.site-footer .block-menu h2,
.site-footer .block-block-content h2 {
  color: #000;
  font-weight: bold;
  padding-left: 16px;
  padding-bottom: 14px;
  font-size: 17px;
}

.site-footer .block-block-content .content {
  padding-left: 16px;
}

.site-footer .block-menu a {
  font-size: 15px;
  line-height: 9px;
}

.site-footer .nav {
  display: block;
}

.site-footer nav.block {
  line-height: 0.4;
  margin: auto;
}


/* HEADER */
.header a {
  color: #000;
}

.header .navbar-collapse .sf-depth-1 a,
.header .navbar-collapse .sf-depth-1 a:hover {
  color: #000;
}

.header a:hover {
  color: #000;
}

.header ul.sf-menu.sf-style-white a,
.header ul.sf-menu.sf-style-white a:visited,
.header ul.sf-menu.sf-style-white a.is-active {
  color: #000;
}

.header ul.sf-menu.sf-style-white li:hover {
  background: #fff;
}

.sf-menu.sf-style-white a {
  color: #000;
}

.header .menu--main a.is-active,
.header .menu--main a:active,
.header .menu--main a:focus,
.header .menu--account a.is-active,
.header .menu--account a:active,
.header .menu--account a:focus,
.header .navbar-collapse a.is-active,
.header .navbar-collapse .sf-depth-1 a:active,
.header .navbar-collapse .sf-depth-1 a:focus {
  color: #000;
  border-bottom: 2px solid #ec684e;
  padding-bottom: 1px;
}

.header .navbar-collapse .sf-menu {
  float: right;
}

.header .menu--main a
 {
  font-size: 16px;
  /*font-weight: bold;*/
  text-transform: uppercase;
}

.header .navbar-collapse .sf-depth-1 a {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .navbar-collapse .sf-depth-1 {
  background-color: #fff;
}

.header {
  border-bottom: 1px solid;
  /*border-color: #e6e6e6;*/
}

/*.header a.navbar-brand {*/
/*  width: 30%;*/
/*}*/

.header .navbar .sf-menu {
  float: left;
}

/* Navbar */
#navbar-top {
    background-color: #1da8fd;
}

#navbar-main {
    background-color: #c3c3c3;
}

.navbar {
	padding-left: 60px;
	padding-right: 60px;
}

/* Right Menu */
.navbar-form {
  width: 400px;
  display: block;
  margin-top: 8px;
}

#search-block-form,
.cart--cart-block {
  display: none;
}

.header .menu--account a
 {
  font-size: 16px;
  /*font-weight: bold;*/
  text-transform: uppercase;
  padding-top: 0;
  padding-right: 0;
  padding-left: 15px;

}

.header .fas {
  padding-left: 15px;
}




/* SIDEBAR */
.sidebar_second {
  /*top: 125px;*/
}

.sidebar_second .views-exposed-form.block,
.views-exposed-form.block {
  padding: 5px 0px;
}

.sidebar_second .views-exposed-form label,
.views-exposed-form label {
  /*font-weight: bold;*/
  /*text-transform: uppercase;*/
}

.sidebar_second .views-exposed-form fieldset,
.views-exposed-form fieldset {
  margin-bottom: 30px;
}

.sidebar_second .views-exposed-form .form-group.form-actions,
.views-exposed-form .form-group.form-actions {
  text-align: center;
}


/* CONTENT TYPES */
.node--type-video.node--view-mode-teaser,
.node--type-artist.node--view-mode-teaser,
.node--type-article.node--view-mode-teaser
{
  border-bottom: none;
  padding: 11px;
  background-color: #e4e3e34a;
}

.node--type-video.node--view-mode-teaser h2,
.node--type-artist.node--view-mode-teaser h2,
.node--type-article.node--view-mode-teaser h2
 {
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.node--type-video.node--view-mode-teaser img,
.node--type-artist.node--view-mode-teaser img,
.node--type-article.node--view-mode-teaser img
{
  width: 100%;
  height: 100%;
  display:block;
}

.node--type-video.node--view-mode-teaser img {
  cursor: pointer;
}

.node--type-video.node--view-mode-teaser h2 span,
.node--type-artist.node--view-mode-teaser h2 span
 {
	cursor: pointer;
}

.node--type-artist.node--view-mode-teaser .field--name-field-subtitle {
	text-align: center;
  font-size:18px;
}

.node--type-video.node--view-mode-teaser .field--name-field-embed-video {
  display:none;
}

.node--type-artist h1,
.node--type-article h1,
.node--type-video h1   {
    margin-bottom: 0px;
}

.node--type-artist .field--name-field-subtitle {
  text-align: center;
  font-size: 29px;
}

.node--type-artist p:first-of-type:first-letter,
.node--type-article p:first-of-type:first-letter,
.node--type-video p:first-of-type:first-letter
/*.field--name-body p:first-of-type:first-letter,*/
{
  /*font-size: 4rem;*/
  /*font-weight: 500;*/
  /*margin-right: 7px;*/
  /*float: left;*/
  /*line-height: 66px;*/
  /*text-transform: uppercase;*/
}

.node--type-video .field--type-video-embed-field {
  width: 1350px;
  height: auto;
  margin: auto;
  margin-bottom: 16px;
}

.node--type-article h1  {
  margin-bottom: 0px;
}

.ref-section {
  margin:auto;
  /*width: 100%;*/
}
.section_title{
  /*margin-left: 9%;*/
  margin-bottom: 1rem;
  font-size: 31px;
  font-family: inherit;
}

.ref-section h2,
.section-header {
  /*line-height: 1.0;*/
}

/* STORE */
.view-id-store.view-store img,
.field--name-field-header-image- img {
	width: 100%;
  height: 100%;
  display:block;
}

.view-id-store.view-store a,
.view-id-store.view-store .link {
  text-transform: uppercase;
	/*font-size: 1.3rem;*/
}

.view-id-store.view-store .views-field-title,
.view-id-store.view-store .views-field-price__number {
  text-align: center;
}

.field--name-webform label,
.user-form label,
.user-login-form label,
.user-pass label {
  text-transform: uppercase;
  font-weight: bold;
}

.field--name-field-product-image img {
  width: 100%;
  height: 100%;
}

.product-info {
  width: 450px;
  margin: auto;
  /*padding-top: 85px;*/
}

.product-info p {
  padding:0px;
  margin:0px;
}


.product-info .field--name-body {
  padding: 20px 0px;
}

.product-info .separator {
  margin:10px 0px;
  border-bottom: 1px solid;
  width: 100%;
}

.product-info .field--name-price {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.product-info .field--name-title  {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 30px;
  padding-bottom: 2rem;
}

.product-info fieldset {
    float:left;
    width: 50%;
    margin: auto;
    margin-bottom: 13px;
}

.product-info .form-select {
  width: 100%;
}

.btn.button--add-to-cart {
  width: 100%;
}

.product-info .field--name-field-product-tags {
    width: 50%;
    float: left;
}

.product-info .field--name-field-product-categories {
    width: 50%;
    float: right;
}

.product-info .field--name-field-product-categories .field__item,
.product-info .field--name-field-product-tags .field__item {
  display: inline-block;
}

.product-info .field--name-field-type {
  margin:0 0 6px;
}

.product-info a,
.product-info a:active,
.product-info a:focus,
.product-info a:hover {
  color: #000;
}

.product-info .field__label {
  text-transform: uppercase;
  font-weight: bold;
}

.product-info .field--name-field-brand-group {
  font-size: 20px;
  margin:0px;
}

.product-info .field--type-address-country .field__item,
.product-info .field--name-field-type .field__item {
  float: right;
}

.section-product .field--name-title,
.field--name-field-product-reference .field--name-title {
  text-align: center;
}

.section-product .field--name-title a,
.section-product .field--name-title link,
.field--name-field-product-reference .field--name-title a,
.field--name-field-product-reference .field--name-title link,
.view-id-store.view-store a,
.view-id-store.view-store link  {
  text-transform: uppercase;
  /*font-size: 1.2rem;*/
}

.section-product a,
.section-product a:active,
.section-product a:focus,
.section-product a:hover,
.field--name-field-product-reference a,
.field--name-field-product-reference a:active,
.field--name-field-product-reference a:focus,
.field--name-field-product-reference a:hover,
.field--name-field-paragraph .field--name-field-link a,
.field--name-field-paragraph .field--name-field-link a:active,
.field--name-field-paragraph .field--name-field-link a:focus,
.field--name-field-paragraph .field--name-field-link a:hover,
.site-footer .block-menu .nav-item a,
.site-footer .block-menu .nav-item a:active,
.site-footer .block-menu .nav-item a:focus,
.site-footer .block-menu .nav-item a:hover {
  color: #000;
}

.site-footer__top h2 {
  font-weight: bold;
}

.site-footer__top h2,
.site-footer .content {
  color: #000;
}

.site-footer .block,
.site-footer .field--name-body {
  margin: 0px;
  padding: 0px;
}

.section-product .field--name-price,
.field--name-field-product-reference .field--name-price,
.view-id-store.view-store .views-field-price__number {
  font-size: 15px;
  text-align: center;
}

.section-product .carousel-control-prev,
.section-product .carousel-control-next,
.paragraph--type--paragraph-products .carousel-control-prev,
.paragraph--type--paragraph-products .carousel-control-next {
  display: none;
}

.section-product .field--name-price,
.paragraph--type--paragraph-products .field--name-price {
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.ref-section {
  margin-bottom: 15px;
}

/* Cart */


.cart-form{
  padding: 0px 55px;
}

.views-form {
  width: 100%;
}

.view-commerce-cart-form .table th{
  background-color: #000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.view-commerce-cart-form .table td{
  background-color: #fff;
}

.view-commerce-cart-form .table img{
  width: 120px;
  height: auto;
}

.views-field-purchased-entity a{
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.table td {
  vertical-align: middle;
  text-align: center;
  font-size:16px;
}

.view-commerce-cart-form .table input{
  width: 50px;
  padding: 5px;
  text-align: center;
  margin: auto;
}
.order-total-line {
  font-size: 19px;
}

.order-total-line {
  font-size: 18px;
}

.view-commerce-cart-form .field--type-entity-reference {
  margin: 0px;
}
.view-commerce-cart-form .form-group {
  margin:0px;
}

.slick .slick-dots {
  bottom: 75px;
}

/*.field--name-field-paragraph .col-md-6 {
  padding:0px;
  margin: 0px;
}

.field--name-field-paragraph .node--type-article.node--view-mode-teaser {
  padding:0px;
  margin:0px;
}
*/
.field--name-field-paragraph .node--type-article.node--view-mode-teaser h2 {
  position: absolute;
  top: 90px;
  text-align: left;
  float:left;
  left:40px;
  right:40px;
  font-size: 44px;

}
.field--name-field-paragraph .node--type-article.node--view-mode-teaser h2 a {
  color: #fff;
}

.field--name-field-paragraph .field--name-field-link {
  float: right;
  padding-top: 11px;

}
.field--name-field-paragraph .field--name-field-link a {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.paragraph .field--name-field-content-reference {
  width: 100%;
}

.field--type-entity-reference {
  margin: 0px;
}

.user-form,
.user-login-form,
.user-pass {
  max-width: 1020px;
  margin: auto;
}

/*
.user-form .form-control,
.user-login-form .form-control,
.user-pass .form-control {
  width:68%;
}
*/

.user-form fieldset,
.user-login-form fieldset,
.user-pass fieldset,
.user-form #edit-contact,
.user-login-form #edit-contact,
.user-pass #edit-contact,
.user-pass p {
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
}

.user-pass p {
  text-align: center;
}

.page-user-register .tabs,
.page-user-login .tabs,
.page-user-password .tabs {
  max-width: 600px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
}

.page-user-register  .nav-tabs,
.page-user-login  .nav-tabs,
.page-user-password  .nav-tabs {
  text-transform: uppercase;
}

.page-user-register a .link,
.page-user-login a .link,
.page-user-password a .link {
  color:#000;
}

.page-user-register  .nav,
.page-user-login  .nav,
.page-user-password  .nav {
  display: inline-flex;
}

/* HOME BASIC PAGE */

.node--type-page #main-wrapper #main {
  padding-left: 0px;
  padding-right: 0px;
}

.node--type-page #main {
  max-width:100% ;
  margin: auto;
}

.node--type-page .paragraph--type--paragraph-artists,
.node--type-page .paragraph--type--paragraph-products,
.node--type-page .paragraph--type--paragraph-news,
.node--type-page .paragraph--type--paragraph-videos,
.node--type-page .paragraph--type--hp-products {
  padding-left:60px;
  padding-right: 60px;
  max-width: 1600px;
  margin:auto;
  margin-bottom: 15px;
}



@font-face {
  font-family: 'avenir';
  src: url('../assets/fonts/avenir/avenir-black.woff2') format('woff2'),
       url('../assets/fonts/avenir/avenir-black.woff') format('woff');
}
@font-face {
  font-family: 'teko';
  src: url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap')
}


/*
-----------------------------------------
Global
-----------------------------------------
*/

*{
  outline: none !important;
  min-width: 0 !important;
  min-height: 0 !important;
}

html{
  /*font-size: 10px;*/
}

body{
  margin: 0;
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

/*
-----------------------------------------
Headings
-----------------------------------------
*/

/*h1, h2, h3, h4, h5{*/
/*  line-height: inherit;*/
/*}*/
h1{
  font-size: 27px;
  line-height: 1.31;
  font-weight: 500;
  font-style: normal;
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #182626;
}

h2{
  font-size: 22px;
  line-height: 1.26;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #5b6478;
}

h3{
  font-size: 20px;
  line-height: 1.24;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #5b6478;
}

h4{
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #5b6478;
}
.h4{
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #5b6478;
}

h5{
  font-size: 17px;
  line-height: 1.21;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #5b6478;
}



/*
-----------------------------------------
Text
-----------------------------------------
*/

label{
  font-weight: normal;
  margin-bottom: 0;
/*&:not(:last-child){*/
/*   margin-bottom: rem(10px);*/
/* }*/
}

strong,
/*b{*/
/*  font-weight: $font-weight-bold;*/
/*}*/

/*
-----------------------------------------
Link
-----------------------------------------
*/

a{
  color: inherit ;
  transition: all 0.2s ease-in-out;
/*@include hover-focus-active{*/
/*  color: $color-primary;*/
/*  text-decoration: none;*/
/*}*/
}
/*a, .link {*/
/*  color: #000 !important;*/
/*}*/
a:hover {
  text-decoration: none;
}
/*
-----------------------------------------
Button
-----------------------------------------
*/

button{
  background-color: transparent;
  cursor: pointer;
  border: 0;
  transition: all 0.2s ease-in-out;
}

/*
-----------------------------------------
Lists
-----------------------------------------
*/

ol,
ul,
dl,
li {

  list-style: none !important;
}

/*
-----------------------------------------
Hr
-----------------------------------------
*/

hr{
  border-color: inherit;
}

img {
  width: 100%;
}
/*
-----------------------------------------
Table
-----------------------------------------
*/
.table thead th
{
  border-bottom: 0;
}


/*
-----------------------------------------
delete bg form autocomplete input
-----------------------------------------
*/
.js input.form-autocomplete{
  background-image: none !important;
}


.product-info fieldset{
  width: 100%;
  margin-left: 0 !important;
}

.fieldset-legend{
  font-size: 17px ;
}
small {
  font-size: 12px ;
}


.button--add-to-cart.button {
  background-color: #ec684e;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #000;
  background-color: #b4b4b4;
  border-color: #007bff;
  cursor: not-allowed !important;
}

.btn-primary.disabled:hover, .btn-primary:focus {
  background-color: #b4b4b4 !important;
  border-color: #000 !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
}
.button--add-to-cart.is-disabled{
  background-color: #b4b4b4 !important;
}

.product__wrapper{
  background-color: rgb(251 249 252);
  padding: 10px;
  /*height: 500px;*/
}

.product_details{
  bottom: 0;
  /*position: absolute;*/
  /*margin: 16px 0px;*/
  width: 100%;
  /*padding-right: 60px;*/
  color: #546891;
  padding: 11px 11px;

}
.product__title_details{
  /*color: #546891 !important;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px;
  /*line-height: 1;*/
}
.product__title_details a:hover{
  /*border-bottom: 1px solid #000;*/
  color: #546891 !important;
}

.product__title_details:hover{
}

.col.filter{
  border-bottom: 1px solid #d5c4c4;
  padding: 0;
  margin: 0 10px 0 0;
  /*background-color: #fbf9fc;*/
}

.col.filter a{
  color: #5f739f;
  display: block;
  width: 100%;
  padding: 11px 0 11px 15px;
  margin: 0 0 0 0;
  background-color: #fbf9fc;
}

.filter__label{
  font-size: 17px;
  font-weight: 600;
  /*color: #546891;*/
  margin-bottom: 8px;
}

.add_to_cart_detail{
  width: 62%;
  margin: 8px 0px;
}

.add_to_cart_detail a {
  background-color: #a4aec2;
  padding: 6px 10px;
  color: #fff !important;
  width: 100%;
  display: flex;
  font-size: 13px !important;
  font-weight: 600;
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
background-color: #d9dbdf !important;
color: #000 !important;
}

.product__details_separator{
border-bottom: 1px solid #bdc3ce;
margin: 15px 0px;

}
.filter-option-inner-inner{
  font-size: 13px;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text{
  font-size: 14px;
}

.product--rendered-attribute__selected ~ label  .product--rendered-attribute__selected div{
  /*border: 3px solid #ec684e;*/
}
.form-item-purchased-entity-0-attributes-attribute-color .custom-control-input:checked~.custom-control-label{
  border: 2px solid #ec684e ;
  padding: 3px;
}

/*#edit-purchased-entity-0-attributes-attribute-color{*/
/*  display: flex;*/
/*}*/


.radio-colors-elements label::before{
  display: none;
}
.radio-material-elements-label::before{
  display: none;
}
.radio-material-elements::after{
  display: none;
}

/*.product--rendered-attribute__selected{*/
/*  border: 2px solid #ec684e ;*/
/*  padding: 3px;*/
/*}*/

/*#edit-purchased-entity-0-attributes-attribute-color {*/
/* display: flex;*/
/*}*/

/*#edit-purchased-entity-0-attributes-attribute-material-type{*/
/*  display: flex;*/
/*}*/

.form-item-purchased-entity-0-attributes-attribute-material-type .custom-control-input:checked~.custom-control-label{
  border: 2px solid #ec684e ;
  padding: 3px;
}


.field.field--name-field-color.field--type-color-field-type.field--label-hidden.field__item{
  height: 30px;
}

.form-number.form-control{
  margin-bottom: 17px;
}

.ajax-progress-throbber {
  display: none
}

.product_separator{
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}
.product-teaser{
  padding: 13px 11px;
  background-color: #ececec;
  min-height: 485px !important;
}

.product_specs{
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300;
  color: #5b6478;
  font-size: 18px;
}
.card-header{
  padding: 9px 10px;
}
.card-cats{
  height: 300px;
  width: 312px;
  display: block;
  overflow: auto;
}
.price_field{
  font-size: 19px;
  font-weight: 600;
}
.list-group-item {
  padding-left: 0;
}

#header{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 99;
}

label{
  font-size: 17px;
  margin-bottom: 12px;
}

.section__title{
  margin: 2rem 0;
  font-size: 2.0rem;
  color: #000;
  line-height: 3rem;
}

.col.filter > a:after{
  content: "+";
  font-weight: bold;
  float: right;
  padding: 0px 15px;
}
.filter_card{
  border: 0;
  padding: 0 0 0 0;
}

.custom-switch .custom-control-label::before{
  left: -2.25rem;
  width: 22px;
  height: 22px;
  pointer-events: all;
  border-radius: 0;
}
.navbar-brand img {
  width: 50%;
}

.breadcrumb {
  font-size: 13px;
  color: #757575;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}
#block-bootstrap-custom-content{
  margin-top: 2rem ;
}
.view-header{
  font-size: 17px;
  font-weight: 800;
  margin: 11px;
  width: 100%;
  display: inline-block;
}
.store-sort{
  display: flex;
  float: right;
  margin: 0 38px
}
.store-sort label{
  width: 50%;
  font-family: Roboto,"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.store-count{
  display: inline-block;
}
.form-control:disabled{
  margin-top: 20px;
}
.form-required::after{
  display: none;
}
.field--type-commerce-price{
  background-color: #fbf9fc;
  padding: 0px 20px;
}


.custom-colors-select , .custom-select-material{
  border: none;
  overflow: unset;
  /*height: auto;*/
  height: 62px;
  width: 205px;
  /*background-color: #dedede;*/
  /* overflow-x: overlay; */
  padding: 7px 7px;
}

.custom-colors-select option  , .custom-select-material option {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-block;
  padding: 14px;
  margin: 5px;
}

.custom-colors-select option:checked , .custom-select-material option:checked {
  background-color: black;
  border: 3px solid #ec684e;
  padding: 1px;
}

/*.custom-colors-select{*/
/*  border: none;*/
/*  overflow: unset;*/
/*}*/

/*.custom-colors-select option {*/
/*  width: 37px;*/
/*  height: 37px;*/
/*  border-radius: 50%;*/
/*  display: inline-block;*/
/*  padding: 14px;*/
/*  margin: 5px;*/
/*}*/


/*.custom-colors-select option:checked {*/
/*  background-color: black;*/
/*  border: 3px solid #ec684e;*/
/*  padding: 1px;*/
/*}*/
.custom-colors-select [selected='selected']{
  border: 3px solid #ec684e !important;
}

.inputbox input[type=checkbox] ~ label, .inputbox input[type=radio] ~ label {
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  /*padding-left: 3.5rem;*/
  margin-bottom: 0;
  text-transform: none;
  cursor: pointer;
}

.inputbox input[type=checkbox]:checked ~ label:before {
  background-color: #ffffff;
  border-color: #797770;
}

.inputbox input[type=checkbox], .inputbox input[type=radio] {
  display: none;
}

.inputbox input[type=checkbox] ~ label, .inputbox input[type=radio] ~ label {
  display: block;
}
.unchecked{
  border: 0 !important;
}
.bef-checkboxes > ul{
  padding-left: 0;
}

.bef-checkboxes li{
  padding: 6px 0 0 0;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  font-family: "GT America", sans-serif;
  font-weight: 300;
  line-height: 1;
  color: #182626;
  width: 100%;
}
.custom-switch{
  padding-left: 0;
}
/*///////////////////////////////////////////  CHECKBOXES   ///////////////////////////////////////////////////////////////////!**!*/

form p {
  /* permet de positionner la checkbox */
  position: relative;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  /* Cache la checkbox sans
     la rendre invisible aux
     lecteurs d'écran */
  position: absolute;
  left: 0;
  opacity: 0.01;
}

/* Preparer le label */
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative; /* permet de positionner la checkbox */
  padding-left: 2.3em; /* place pour la box */
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}


form p {
  position: relative;
}

[type="checkbox"] {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}



/* Aspect de la case */
[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #FFF;
  /*border-radius: .2em;*/
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
  transition: all .275s;
}

/* Aspect de la coche */
[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiM1RjczOUYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEyLjI0IDMuOTNjLjI2LS4yNi42OC0uMjYuOTQgMCAuMjM0LjIzNC4yNTcuNTk4LjA3Ljg1OGwtLjA3LjA4Mi02LjMxIDYuMzFjLS4yMzMuMjM0LS41OTguMjU3LS44NTguMDdsLS4wODItLjA3LTMuMDE0LTMuMDFjLS4yNi0uMjU5LS4yNi0uNjggMC0uOTQuMjMzLS4yMzQuNTk4LS4yNTcuODU4LS4wN2wuMDgyLjA3TDYuNCA5Ljc2OGw1Ljg0LTUuODR6Ii8+Cjwvc3ZnPgo=) 0 0 no-repeat;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 6px;
  left: -10px;
  font-size: 1.6em;
  color: #182626;
  line-height: 0;
  transition: all .2s; /* Petite transition */
}

/* Aspect non cochée */
[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0) rotate(45deg);
}

/* Aspect cochée */
[type="checkbox"]:checked + label::after {
  opacity: 1;
  transform: scale(1) rotate(0);
}


/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label::before,
[type="checkbox"]:disabled:checked + label::before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

/* Disabled checked */
[type="checkbox"]:disabled:checked + label::after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* Accessibility focus */
[type="checkbox"]:checked:focus + label::before,
[type="checkbox"]:not(:checked):focus + label::before {
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}

#amount{
  padding: 10px 0 20px 0;
  font-size: 21px;
}
.price-form{
  padding: 0 25px 0px 10px;
}
label[for = 'edit-price-max'] , .price-form input{
  display: none;
}

.ui-slider-handle{
  background-color: #2397ff !important;
}

.form-filter-submit{
  display: none;
}
.views-exposed-form.bef-exposed-form{
  /*width: 75%;*/
}
.btn__selected_filters{
  font-size: 12px;
  font-weight: 300;
  color: #5f739f;
  /*padding: 0 7px;*/
}

.edit-price-number{
  display: block !important;
}

.sort_dropdown{
  position: absolute;
  right: 0;
  /*direction: rtl;*/
}

.sort_dropdown legend {
  display: none;
}
.sort_dropdown ul{
  width: max-content;
}

.radio-colors-product-default label::before{
  display: none;
}
.bg-light{
  background-color: #fff !important;
}
#block-bootstrap-custom-main-menu{
  width: 100%;
}
.site-name-slogan{
  display: none !important;
}
.navbar-nav{
  justify-content: flex-end;
}
.button--add-to-cart{
  display: inline-block !important;
  width: 75% !important;
}
.form-number.form-control{
  display: inline-block;
  width: 14%;
  margin-right: 10px;
}
.slick-arrow::before{
  color: #b7bcc3;
}


