<div class="field-spacing">
  <div class="container container--wide">
    <div class="section">
      {% if content.field_title.0 %}
        <h2 class="section__title underline">
          {{ content.field_title }}
        </h2>
      {% endif %}
      <div class="row row-spacing">
        {{ content.field_references }}
      </div>
    </div>
  </div>
</div>
