{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - path_info.args: Array of URL arguments un aliassed.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script src="https://kit.fontawesome.com/a77f6cc9a6.js" crossorigin="anonymous"></script>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
  <div id="">

{#  <div class="loader">#}
{#    <div class="loader-inner"></div>#}
{#  </div>#}

{#    <a href="#main-content" class="visually-hidden focusable skip-link">#}
{#      {{ 'Skip to main content'|t }}#}
{#    </a>#}
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </div>

  </body>

{#<script>#}
{#    document.addEventListener(#}
{#      "DOMContentLoaded", () => {#}
{#        new Mmenu("#my-menu",#}
{#          {#}
{#            "offCanvas": false,#}

{#            // "iconbar": {#}
{#            //   "use": true,#}
{#            //   "top": [#}
{#            //     "<a href='#/'><i class='fa fa-home'></i></a>",#}
{#            //     // "<a href='#/'><i class='fa fa-user'></i></a>"#}
{#            //   ],#}
{#            //   "bottom": [#}
{#            //     // "<a href='#/'><i class='fa fa-twitter'></i></a>",#}
{#            //     // "<a href='#/'><i class='fa fa-facebook'></i></a>",#}
{#            //     // "<a href='#/'><i class='fa fa-linkedin'></i></a>"#}
{#            //   ]#}
{#            // },#}

{#          // "extensions": [#}
{#          //   // "listview-justify",#}
{#          //   "listview",#}
{#          //   "pagedim-black",#}
{#          //   "position-front",#}
{#          //   "position-left",#}
{#          //   "shadow-page",#}
{#          //   "shadow-panels",#}
{#          //   "theme-white"#}
{#          //#}
{#          // ],#}
{# //options#}
{#          // titleLink: "titkeeeeee",#}
{#          // slidingSubmenus: false,#}
{#          // inset: 'inset',#}
{#          // navbar: {title: "Filter & Sort" }#}
{#          // "autoHeight": true,#}
{#        }, {#}
{# // config#}
{#          // classNames: { selected:"inset",selected:'selected' },#}
{#          // inset: 'inset',#}
{#          //   nodetype: 'nav',#}
{#          //   selector:' "body > " + offCanvas.page.nodetype" ',#}
{#          });#}
{#      }#}
{#    );#}
{#  </script>#}




  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
{#  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>#}

{#  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />#}
{#  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>#}
</html>
