{#
/**
 * @file
 * Theme override of a container used to wrap child elements.
 *
 * Used for grouped form items. Can also be used as a theme wrapper for any
 * renderable element, to surround it with a <div> and HTML attributes.
 * See the @link forms_api_reference.html Form API reference @endlink for more
 * information on the #theme_wrappers render array property.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - has_parent: A flag to indicate that the container has one or more parent
     containers.
 *
 * @see template_preprocess_container()
 */
#}
{#{%#}
{#  set classes = [#}
{#    has_parent ? 'js-form-wrapper',#}
{#    has_parent ? 'form-group',#}
{#  ]#}
{#%}#}
{#<div{{ attributes.addClass(classes) }}>{{ children }}</div>#}
{{ children }}
