{#
/**
 * @file
 * Template for a radio form element.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'js-form-item',
  'form-item',
  'js-form-type-' ~ type|clean_class,
  'form-item-' ~ name|clean_class,
  'js-form-item-' ~ name|clean_class,
  title_display not in ['after', 'before'] ? 'form-no-label',
  disabled == 'disabled' ? 'form-disabled',
  errors ? 'form-item--error',
  'form-check',
  'form-group',
  'custom-control',
  'custom-radio',
]
%}
{%
set description_classes = [
  'description',
  'form-text',
  'text-muted',
  description_display == 'invisible' ? 'visually-hidden',
]
%}


{#{{ dsm(label['#title'] ) }}#}
  <div class="custom-control custom-radio">
    {{ children }}
    <label class="custom-control-label"
           for="{{ label['#id'] }}"
{#           title="{{ label['#title'].__toString() }}"#}
    >
      {{ label['#title'] }}
    </label>
  </div>
