
{#{{ kint() }}#}
{#{% include "@atoms/input/input.twig" with {#}
{#  input: {#}
{#    type: 'radio',#}
{#    attributes: {#}
{#      id: attributes.id.__toString(),#}
{#      name: attributes.name.__toString(),#}
{#      value: attributes.value.__toString(),#}
{#      'data-drupal-selector':  attributes.data-drupal-selector.__toString(),#}
{#    }#}
{#  }#}
{#} %}#}
{#{{ children }}#}


{%  set classes = attributes.checked.__toString() ? 'product--rendered-attribute__selected' : '' %}

<input type="radio" {{ attributes.addClass('custom-control-input') }} >

