{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button{{ attributes.setAttribute('title', "Sorry! This product is enjoying life in retirement & won't be returning") }}>{{ safe_value_label | raw }}</button>{{ children }}
