{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
  This ensures that, if clean URLs are off, the 'q' is added first,
  as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="">

    <div class="col filter ">
    <a class="" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
      <b>{{ "Categories"|t }}</b>
    </a>

    <div class="collapse show" id="collapseExample1">
      <div class="filter_card card card-body">
        {{ (form.categories) }}
      </div>
    </div>
  </div>



  <div class="col filter">

    <a class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
      <b>{{ "Couleurs"|t }}</b>
    </a>

    <div class="collapse show" id="collapseExample2">
      <div class="filter_card card card-body">
        {{ (form.colors) }}
      </div>
    </div>
  </div>

    <div class="col filter">

    <a class="" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
      <b>{{ "Materiel utilisé"|t }}</b>
    </a>

    <div class="collapse show" id="collapseExample3">
      <div class="filter_card card card-body">
        {{ (form.material) }}
      </div>
    </div>
    </div>

  <div class="col filter">


    <a class="" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
      <b>{{ "Mots-clés"|t }}</b>
    </a>

    <div class="collapse" id="collapseExample4">
      <div class="filter_card card card-body">
        {{ (form.tags) }}
      </div>
    </div>
  </div>


  <div class="col filter">


    <a class="" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
      <b>{{ "Prix"|t }}</b>
    </a>

    <div class="collapse show" id="collapseExample5">
      <div class="filter_card card card-body">
        {{ (form.price) }}
      </div>
    </div>


  </div>

  <div class="form-group text-center mt-4">
    <button class="btn btn-primary" type="submit">
      <span>{{ ('Filtrer')|t }}</span>
    </button>
  </div>

  {{ form.form_build_id }}
  {{ form.form_id }}
  {{ form.form_token }}

</div>
