{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% if view_mode == 'full' %}
  <article{{ attributes }}>
    <div class="product-wrap row">
      <div class="col-md-6">
        <span class="h-11">
        {{ product.variation_field_medias }}
        </span>
        <div class="product_separator"></div>
        {{ product.body.0 }}
      </div>
      <div class="col-md-4">
        <div class="product-info">
          <h1 class="product_title"> {{ product.title.0 }} </h1>
          {{ product.variations }}
          <div class="separator"></div>
          <span class="price_field">
             {{ product.variation_price }}  <small>{{ "+ Free shipping "|t }}</small>
          </span>
          <div class="separator"></div>
          {# Accordion warranty #}
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingthree">
                <h5 class="mb-0 product_specs" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseOne">
                  {{ "warranty"|t }}
                </h5>
              </div>

              <div id="collapseThree" class="collapse " aria-labelledby="headingthree" data-parent="#accordion"
                   aria-expanded="true">
                <div class="card-body">
                  {{ product.field_text.0 }}
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0 product_specs" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                  {{ "shipping"|t }}
                </h5>
              </div>
              <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  {{ product.field_text.0 }}
                </div>
              </div>
            </div>
          </div>

          {# Accordion specs #}
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0 product_specs" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                  {{ "Spécifications"|t }}
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Item: <b>{{ product.variation_sku.0 }}</b></li>
                    <li class="list-group-item">type: <b>{{ product.field_type.0 }}</b></li>
                    <li class="list-group-item">Dimensions: <b>{{ product.variation_field_dimen.0 }}</b></li>
                    <li class="list-group-item">Weight: <b>{{ product.variation_weight.0 }}</b></li>
                    <li class="list-group-item">Country manifacture: <b>{{ product.field_manufacture_country.0 }}</b>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="container">
        {# col-md-11 #}
        <div class="">
          {{ product.field_content }}
        </div>
      </div>
    </div>
  </article>
{% else %}
  Teaser product
{% endif %}
