{#{{ attributes }}#}
<article>
  <div class="product__wrapper">
    <a href="{{ product_url }}">
      {{ product.field_media }}
    </a>
    <div class="product_details">
      <div class="product__details_separator"></div>

      <h1 class="product__title_details">
        <a href="{{ product_url }}">
          {{ product.title.0 }}
        </a>
      </h1>

      <span class="product__title_details"> {{ product.variation_price.0 }} </span>
{#      <div class="add_to_cart_detail">#}
{#      </div>#}
    </div>
  </div>
</article>
